<%= form_for(budget) do |f| %>
   <% if budget.errors.any? %>
     <div id="error_explanation">
       <h3>Please fix the following <%= pluralize(budget.errors.count, "error") %> before saving:</h3>
 
       <ul>
       <% budget.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
       </ul>
     </div>
   <% end %>
   <div class="panel panel-default">
        <div class="panel-body">
          <form role="form">
               <div class="col-sm-4">
                   <div class="form-group">
                     <%= f.label :"Budget name", class:"form-label" %>
                     <%= f.text_field :name, id: :budget_name,:required => true, class: "form-control" %>
                   </div>
                   <div class="form-group">
                         <%= f.label :year, class:"form-label" %>
                        <%= f.collection_select :year_id, Year.all, :id, :name,{:prompt => 'Please select budget year'}, {class: "form-control"} %>
                   </div>
                   <div class="form-group">
                         <%= f.label :crop, class:"form-label" %>
                        <%= f.collection_select :crop_id, Crop.all, :id, :name,{:prompt => 'Please select crop type for budget'}, {class: "form-control"} %>
                   </div>
                   <div class="form-group">
                     <%= f.label :"Acres", class:"form-label" %>
                     <%= f.number_field :totalacres, id: :budget_totalacres,:required => true, class: "form-control", :step => 0.01 %>
                   </div>
                   <div class="form-group">
                     <%= f.label :"Target Yield (bu / ac)", class:"form-label" %>
                     <%= f.number_field :targetyield, id: :budget_targetyield,:required => true, class: "form-control", :step => 0.01 %>
                   </div>
                    <div class="btnfooter">
                        <%= link_to 'Cancel', budgets_path, :class => 'btn btn-default round' %>
                        <%= f.submit :class => 'btn btn-primary round' %>
                    </div>
                    
                </div>
          </form>
      </div>
    </div>
  
 <% end %>